<label> {{label}}
    <select class="projection-select" data-placeholder="*" multiple>
        <optgroup label="Projections">
            {{#each projectOptions as |opt|}}
                <option value="{{opt.value}}"
                        selected="{{if opt.selected "selected"}}"
                        disabled="{{if opt.disabled "disabled"}}">
                    {{opt.text}}
                </option>
            {{/each}}
        </optgroup>
        <optgroup label="Aggregations">
            {{#each aggregateOptions as |opt|}}
                <option value="{{opt.value}}"
                        selected="{{if opt.selected "selected"}}"
                        disabled="{{if opt.disabled "disabled"}}">
                    {{opt.text}}
                </option>
            {{/each}}
        </optgroup>
    </select>
</label>
